<% @partner_list.each do |partner| %>
  <ul>
  	<li>ID: <%= partner.id %> </li>
    <li>Name: <%= partner.name %> </li>
    <li>Country: <%= partner.country %></li>
    <li>Uuid: <%= partner.uuid %></li>
   </ul>
  <% end %>