<p>
  <strong>Id:</strong>
  <%= @partner.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @partner.name %>
</p>
 
<p>
  <strong>Country:</strong>
  <%= @partner.country %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @partner.uuid %>
</p>